.navbar-brand {
	padding-top: 12px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.panel-default {
	margin-left: 10px;
	margin-right: 10px;
}

.link-panel{
	float:right;
	padding: 0px;
}

.titulo-panel{
	float:left;
	padding-top: 2px;
}