<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Configuração</title>
</head>

<section layout:fragment="conteudo">
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Configuração</h3>
		</div>
		<div class="panel-body">
			<form action="/configuracao/salvar" method="post">

				<div class="form-group">
					<label for="instituicao">Instituição</label>
					<input type="text" class="form-control" id="instituicao" name="instituicao"
						th:text="${conf.instituicao}" />
				</div>

				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
	</div>

</section>
</html>