<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Contagem de Aplicação</title>
</head>

<section layout:fragment="conteudo">
	<!-- mensagens -->
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>


	<div>
		<ol class="breadcrumb">
			<li><a href="#">Dados Gerais</a></li>
			<li class="active">Contagem</li>
			<li><a href="#">Finalizar</a></li>
			<li><a href="#">Reportar</a></li>
		</ol>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Contagem de aplicação</h3>
		</div>
		<div class="panel-body">
			<button type="button" class="btn btn-info" data-toggle="collapse"
				data-target="#demo">Ajuda</button>
			<div id="demo" class="collapse">Lorem ipsum dolor sit amet,
				consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
				exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</div>
			<hr />
			<!-- pontos de função instalados -->
			<p class="lead">Pontos de Função Instalados</p>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse1"> Funções de Dados</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"
								href="#collapse2"> Funções de Transação</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">Lorem ipsum dolor sit amet,
							consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis
							nostrud exercitation ullamco laboris nisi ut aliquip ex ea
							commodo consequat.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul class="pager">
		<li class="previous"><a href="#">Previous</a></li>
		<li class="next"><a href="#">Next</a></li>
	</ul>
</section>

</html>