<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<section layout:fragment="conteudo">

	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>
	<div class="page-header">
		<h1>Abaco - Sistema de Apoio à Análise de Pontos de Função</h1>
	</div>
	<div class="row">
		<div class="bs-callout bs-callout-default " th:each="analise: ${analiseList}" >
			<h4> <a th:text="|Analise #${analise.id}|" th:href="@{/analise/resumo/{id}(id=${analise.id})}"></a></h4>
			<span class="badge pull-right" th:text="|${analise.projeto.total()} PF|"></span>
			<p th:text="${analise.proposito}"></p>
		</div>
	</div>
</section>

</html>

