<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Nova Análise</title>
</head>

<section layout:fragment="conteudo">
	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>

	<div>
		<ol class="breadcrumb">
			<li class="active">Dados Gerais</li>
			<li><a href="#">Contagem</a></li>
			<li><a href="#">Finalizar</a></li>
			<li><a href="#">Reportar</a></li>
		</ol>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Nova Análise</h3>
		</div>
		<div class="panel-body">
			<form action="/analise/salvar" method="post">

				<div class="form-group">
					<label for="prop">Propósito</label> <input type="text"
						class="form-control" placeholder="Propósito" id="prop"
						name="proposito" />
				</div>
				<div class="form-group">
					<label>Fronteira</label>
					<textarea class="form-control" rows="4" cols="50" name="fronteira"></textarea>
				</div>
				<div class="form-group">
					<label>Escopo</label>
					<textarea class="form-control" rows="4" cols="50" name="escopo"></textarea>
				</div>
				<div class="form-group">
					<label>Sistema</label> <select class="form-control" name="sistema">
						<option th:each="sistema : ${sistemaList}"
							th:value="${sistema.nome}" th:text="${sistema.nome}"></option>
					</select>
				</div>
				<div class="form-group">
					<label>Tipo de Contagem</label> <select class="form-control"
						name="tipoDeContagem">
						<option th:each="tipo : ${tipoContagemList}" th:value="${tipo}"
							th:text="${tipo.descricao}"></option>
					</select>
				</div>

				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</form>
		</div>
	</div>
	<ul class="pager">
		<li class="previous"><a href="#">Previous</a></li>
		<li class="next"><a href="#">Next</a></li>
	</ul>

</section>
</html>