<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sistemas</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="Abaco"
					src="/images/abacus_32.png" />
				</a>
			</div>
		</div>

	</nav>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sistemas</h3>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Nome</th>
						<th>Descricao</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="4">Nenhum sistema cadastrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-3.1.1.min.js"></script>


</body>
</html>